/* calendar-common.css */
.calendar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ddd;
  background-color: #fff;
}

.calendar-cell,
.calendar-day-header {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.today {
  background-color: green;
}